@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserratregular-regular-webfont.eot');
    src: url('../fonts/montserratregular-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
header{
    background: #348a1d;
}
.nav ul {
    list-style: none;
    padding-bottom: 10px;
    font-family: 'montserratregular';
}

.nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.nav ul li a:hover {
    border-bottom: 3px solid;
    color: yellow;
}

nav {
    padding-top: 20px;
    float: right;
    line-height: 50px;
    overflow:hidden;
}

.nav ul li {
    display: inline-block;
}


body {
    margin: 0;
    padding: 0;
    background: white;
}

.end ul {
    list-style: none;
}

.end ul li a {
    text-decoration: none;
    color: green;
}

.end ul li {
    display: inline-block;
    text-align: center;
}

.end {
    text-align: center;
    margin-top: 60%;
}

header img {
    line-height: 104px;
}

.contenedor {
    width: 85%;
    margin: 0 auto;
}
/*****maps*****/
h2{
    text-align: center;
    font-family: 'montserratregular';
}

.section {
    text-align: center;
}
.one-p{
    text-align: center;
    font-family: 'montserratregular';
}
.maps{
    width: 85%;
    height: 600px;
    margin: auto;
}
.fin{
    width: 100%;
    height: 20%;

}
