@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserratregular-regular-webfont.eot');
    src: url('../fonts/montserratregular-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
header{
    background: #348a1d;
}
.nav ul {
    list-style: none;
    padding-bottom: 10px;
    font-family: 'montserratregular';
}

.nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.nav ul li a:hover {
    border-bottom: 3px solid;
    color: yellow;
}

nav {
    padding-top: 20px;
    float: right;
    line-height: 50px;
    overflow:hidden;
}

.nav ul li {
    display: inline-block;
}


body {
	margin: 0;
	padding: 0;
	background: white;
}

.end ul {
	display: inline-block;
	list-style: none;
}

.end ul li a {
	text-decoration: none;
	color: green;
}

.end ul li {
	display: inline-block;
	text-align: center;
}

.end {
	text-align: center;
}

header img {
	line-height: 104px;
}

.contenedor {
	width: 85%;
	margin: 0 auto;
}
/******menu-general*****/
#menu-general{
    width: 100%;
    height: 525px;
   }
.menu-one{
    width: 15%;
    height: 100%;
    float: left;
    border: 1px solid green;
    border-radius: 30px;

}
.menu-espacio{
    width: 4%;
    height: 100%;
    float: left;
}
.circulo{
    width: 57%;
    height:20%;
    border-radius: 150px;
    margin: auto;
    border: 4px solid yellow;
}
.circulo{
    margin-top: 19%;
    padding: 6%
}
#hamburger{
    margin-top:10%;
}
.titulo{ 
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    font-family: 'montserratregular';
    color: green;
}
.cuerpo-de-texto{
    text-align: center;
    font-size: 17px;
   
}
.cuerpo-de-texto1{
    text-align: center;
    font-size: 17px;
}

button{
    width: 50%;
    height: 8%;
    background: green;
    border-radius: 50px; 
    color: yellow;
    font-family: 'montserratregular';
    margin: auto;
}
button:hover{
    background: yellow;
    color:green;
    font-family: 'montserratregular';
}
