@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserratregular-regular-webfont.eot');
    src: url('../fonts/montserratregular-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
header{
    background: #348a1d;
}
.nav ul {
    list-style: none;
    padding-bottom: 10px;
    font-family: 'montserratregular';
}

.nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.nav ul li a:hover {
    border-bottom: 3px solid;
    color: yellow;
}

nav {
    padding-top: 20px;
    float: right;
    line-height: 50px;
    overflow:hidden;
}

.nav ul li {
    display: inline-block;
}


body {
	margin: 0;
	padding: 0;
	background: white;
}

.end ul {
	display: inline-block;
	list-style: none;
}

.end ul li a {
	text-decoration: none;
	color: green;
}

.end ul li {
	display: inline-block;
	text-align: center;
}

.end {
	text-align: center;
}

header img {
	line-height: 104px;
}

.contenedor {
	width: 85%;
	margin: 0 auto;
}
/**slider**/

.slide {
    border: 0.5em solid #D0FA58;
    width: 600px;
    height: 300px;
    margin: 2% auto;
    border-radius: .5em;
    box-shadow: 10px 10px 5px #888;
    position: relative;
}
 
.slide img{
    width: 600px;
    height: 300px;
    position: absolute;
}
 
.slide .img2, .slide .img3, .slide .img4 {
    display: none;
}

.slide figure {
    margin: 0;
}