@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserratregular-regular-webfont.eot');
    src: url('../fonts/montserratregular-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
header{
    background: #348a1d;
}
.nav ul {
    list-style: none;
    padding-bottom: 10px;
    font-family: 'montserratregular';
}

.nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.nav ul li a:hover {
    border-bottom: 3px solid;
    color: yellow;
}

nav {
    padding-top: 20px;
    float: right;
    line-height: 50px;
    overflow:hidden;
}

.nav ul li {
    display: inline-block;
}

body {
    margin: 0;
    padding: 0;
    background: white;
}

.end ul {
    list-style: none;
}

.end ul li a {
    text-decoration: none;
    color: green;
}

.end ul li {
    display: inline-block;
    text-align: center;
}

.end {
    text-align: center;
}

header img {
    line-height: 104px;
}

.contenedor {
    width: 85%;
    margin: 0 auto;
}
/******formulario*******/
form {
   width: 50%;
   margin: 30px auto 0 auto;
}
.grow{
    border-radius: 5px;
    resize: none;
    width: 50%;
    height: 20%;
    outline: 0;
}
form{
    display: block;
    text-align: center;
}
.one-form,
.two-form{
    padding-bottom: 30px;
}
button{
    padding: 15px;
    border-radius: 50px;
    border:2px;
    background: green; 
    color: yellow;
    font-family: 'montserratregular';
}
button:hover{
    background: yellow;
    color:green;
    font-family: 'montserratregular';
}
.one-form input,
.two-form textarea,
.one-form,
.two-form label {
   display: block;
   width: 100%;
   box-sizing: border-box;
   margin-top: 20px
}

.one-form input:focus,
.two-form textarea:focus {
   outline: none;
   border: 5px solid #66afe9;
}

.one-form,
.two-form label{
    margin-bottom: 20px;
    font-family: 'montserratregular';
}
textarea{
    height: 200px !important;
}